body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightgreen;
    opacity: .8;
    background-color: gray;
    font-weight: 100;
}

li {
    font-size: 1.25em;
    padding: 25px;
    margin: 20px;
    height: 150px;
    line-height: 1.3em;
    width: 300px;
    display: inline-flex;
    background-color: lightcoral;
}

.avatar {
    float: left;
    padding-right: 10px;
}


h3 {
padding-bottom: 40px;
padding-top: 30px;
font-size: 1.7em;


}

h1 {

    text-align: center;
    padding-right: 20px;
}

ul {
    margin-left: 100px;

}

